RewriteEngine On

# If the user is looking for a real file (like a CSS or JPG), serve the file directly
RewriteCond %{REQUEST_FILENAME} !-f
# If the user is looking for a real directory, serve the directory
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, send the request to our Front Controller (index.php)
RewriteRule ^(.*)$ index.php [QSA,L]