# ==========================================
# .htaccess for testing/development
# ==========================================

# 1.Enable Rewrite module
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # 2. Serve JS, CSS and images directly
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # 3. Serve real directories directly
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # 4.Else, send petitions to Front Controller (index.php)
    # [QSA] = Query String Append
    # [L] = Last
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# 5. Disable directory indexing
Options -Indexes

# 6. (Optional) Allow access to hidden files
# <FilesMatch "^\.">
#     Require all granted
# </FilesMatch>